label {
    color: $secondColor;
    font-family: $letraParrafo;
}

input, textarea {
    font-family: $letraParrafo;
}

.hero4 {
    @include flex(row,center,center,0);

    iframe{
        border-radius: 5px;
        width: 800px;
        height: 600px;
    
    }
}


.btn {
    color: $secondColor;
    background-color: $primaryColor;
    border: 2px solid $secondColor;

    &:hover {
        color: $primaryColor;
        background-color: $secondColor;
        border: 2px solid $primaryColor;
    }
}
.form-control {
    border: 2px solid $secondColor;
}


@media only screen and (max-width:1024px){
    .hero4 {
        iframe{
            width: 500px;
            height: 400px;
        }
    }   
}

@media only screen and (max-width:768px){
    .hero4 {
        iframe{
            width: 300px;
            height: 300px;
        }
    } 
    
    
}