.footer{
    display: flex;
    justify-content: center;
    color: $textColor;
    font-size: 12px;
    font-style: oblique;

    p {
        padding-top: 20px;
    }

    
}

.icon_footer {
    @include flex(row,start,center,10px);
    padding-left: 50px;   
    &_content {
        font-size:  35px;
        i:hover {
            font-size:  45px;
            color: $secondColor;
            transition: all 1.5s;
        }
        a{
            color: $textColor;
        }
        
    }
}